eMailUser = "name@gmail.de"
eMailPassword = "supersecretpassword"
eMailsmtp = "imap.gmail.com"
eMailPort = 465  # For SSL
subscribers = "magGeumpfenWerden@gmail.com, magAuchGeumpfenWerden@gamil.com"
impfPlaces = '[
    {"frontend": "https://www.impfen-skk.de/", "backend": "https://backend.impfen-skk.de/api.php/terminportal/getWochenAnsicht?"},
    {"frontend": "https://www.impfen-ka.de/", "backend": "https://backend.impfen-ka.de/api.php/terminportal/getWochenAnsicht?"}
    ]'