eMailUser = "name@gmail.de"
eMailPassword = "supersecretpassword"
eMailsmtp = "imap.gmail.com"
eMailPort = 465  # For SSL
subscribers = "magGeumpfenWerden@gmail.com, magAuchGeumpfenWerden@gamil.com"
impfPlaces = [
    {frontend: 'https://frontend1.com', backend: 'https://backend1.com'},
    {frontend: 'https://frontend2.com', backend: 'https://backend2.com'},
    ]